.jumbotron {
    height: 400px;
    background-color: navajowhite;
}

/*Nav Bar */
#topbarsearch .input-field .prefix { 
    width:0rem !important;    
    }        
#topbarsearch nav ul li:hover, nav ul li.active {
        background-color: none !important;
    }
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
    margin-left: 1rem !important;
    }

